.form-item {
  width: 98%;
  color: #5476DE;
  font-size: 2em;
  background: #F9F871;
  border: 1px solid #5476DE;
  border-radius: 5px;
  padding: 1rem 1%;

  &::placeholder {
    color: #5476de93;
    text-align: center;
  }
}

.form {
  text-align: center;
}
