.form-item {
  width: 98%;
  color: #806DA0;
  font-size: 2em;
  background: #ebeba7;
  border: 1px solid #806DA0;
  border-radius: 5px;
  padding: 1rem 1%;
  text-align: center;

  &::placeholder {
    color: #806DA0;
    text-align: center;
  }
  &:focus::placeholder {
    color: #806da049;
  }
}

.form {
  text-align: center;
}
