.list-item {
  display: flex;
  justify-content: space-between;
  // display: block;
  background: #e8d1ffbd;
  color: #806DA0;
  font-size: 1.5em;
  border-radius: 3px;
  padding: 1rem;
  margin: 0.5rem 0;
  padding-inline-start: 0px;
  &--done {
    opacity: 0.5;
    text-decoration: line-through;
  }
  max-width: 100%;
  & span {
    overflow: hidden;
    text-overflow: ellipsis; 
  }
}

ul{
  padding-inline-start: 0px;
}
.delete {
  align-self: center;
  font-size: 20px;
  height: 28px;
  
  background-color: #806DA0;
  color: #e8d1ffbd;
  border: 2px solid #806DA0;
}

.delete:hover {
  background-color: #e8d1ffbd;
  color: #806DA0;
}

li {
  list-style-type: none;
}

.check {
  visibility: hidden;
}
