h1 {
    color: #FF75AD;
    text-align: center;
    margin: 5rem 0;
}

img {
    width: 50px;
    height: 50px;
    align-self: center;
}

header {
    display: flex;
    justify-content: center;
    gap: 10px;
}